.App {
  /* text-align: center; */
  font-family: "Helvetica Neue";
  background-color: #FAA916;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */

.header {
  font-size: 50px;
  
}

/* QUESTION CONTAINER */

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-container .buzzer {
  background: linear-gradient(#da4f49, #b73a34);
  color: white;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 5px;
}

.question-container .guess-field {
  background-color: #E7DFE8;
  padding: 4px;
}
.question-container .individual-question {
  padding: 30px;
  border: 5px solid;
  border-radius: 25px;
  width: 700px;
}