.App {
  font-family: "Helvetica Neue";
  background-color: #FAA916;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */

.header {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}
.header * {
  margin: 10px;
}
.header h6 {
  font-style: italic;
}
.header p {
  font-size: 16px;
}
.header a {
  text-decoration: none;
  margin: 0px;
}

/* QUESTION CONTAINER */

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-container .name-field {
  background-color: #E7DFE8;
  font-size: 16px;
  padding: 5px 5px;
}
.question-container .buzzer {
  background: linear-gradient(#da4f49, #b73a34);
  color: #E7DFE8;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 5px;
  border-color: #b73a34;
  outline: none;
}
.question-container .join-button {
  background: #6D676E;
  color: #FAA916;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 5px;
  border-color: #6D676E;
  outline: none;
  margin: 10px 0px 10px 0px;
}
/* TIMER */
.timer-and-guess {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.timer-and-guess > h3 {
  margin-top: 65px;
}

.timer-and-guess > form {
  margin-top: 60px;
}
.timer-and-guess h4 {
  margin-left: 100px;
}

#bar {
  border-style: solid;
  height: 30px;
  width: 400px;
}

.progress {
  height: 30px;
  width: 0%;
  background: repeating-linear-gradient(
  45deg,
  #da4f49,
  #da4f49 20px,
  #b73a34 20px,
  #b73a34 40px
);
}

.decrease {
  animation-name: decrease;
  animation-timing-function: linear;
  animation-duration: 20.5s;
  -webkit-animation-fill-mode: both;
}

  @keyframes decrease {
    0% {width: 0%}
    5% {
      filter: brightness(100%);
    }
    10% {
      filter: brightness(130%);
    }
    15% {
      filter: brightness(100%);
    }
    20% {
      filter: brightness(130%);
    }
    25% {
      filter: brightness(100%);
    }
    30% {
      filter: brightness(130%);
    }
    35% {
      filter: brightness(100%);
    }
    40% {
      filter: brightness(130%);
    }
    45% {
      filter: brightness(100%);
    }
    50% {
      filter: brightness(130%);
    }
    55% {
      filter: brightness(100%);
    }
    60% {
      filter: brightness(130%);
    }
    65% {
      filter: brightness(100%);
    }
    70% {
      filter: brightness(130%);
    }
    75% {
      filter: brightness(100%);
    }
    80% {
      filter: brightness(130%);
    }
    85% {
      filter: brightness(100%);
    }
    90% {
      filter: brightness(130%);
    }
    95% {
      filter: brightness(100%);
    }
    100% {
      width: 100%;
      filter: brightness(130%);
    }
  }

  .paused {
    animation-play-state: paused;
  }

.question-container .question-timer {
  padding: 10px;
}
/* .question-container .question-timer h3 {
  font-size:
} */
.question-container .guess-field {
  background-color: #E7DFE8;
  font-size: 16px;
  padding: 5px 5px;
}
/* MESSAGES */

.chat-container {
  width: 700px;
  height: 250px;
  background-color: #E7DFE8;
  border: 2px solid;
  position: relative;
}
.chat-container input {
  width: 650px;
  position: absolute;
  bottom: 0;
}
.chat-container button {
  position: absolute;
  bottom: 0;
  right: 0;
}
#messages li {
  list-style-type: none;
}
.question-container .individual-question {
  padding: 30px;
  border: 5px solid;
  border-radius: 25px;
  width: 700px;
  box-shadow: 10px 10px;
  height: 180px;
}

.question-container .new-question-button {
  background: #6D676E;
  color: #FAA916;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 5px;
  border-color: #6D676E;
  outline: none;
  margin: 30px 0px;
}
.question-container .player-list {
  display: flex;
  flex-direction: row;

  padding: 0px;
}

.question-container .player-list li{
  margin: 0px 50px;
  font-size: 20px;
  box-shadow: 5px 5px;
  padding: 20px;
  border: 2px solid;
  border-radius: 3px;
  list-style-type: none;
}

/* MOBILE */

/* @media (max-width: 426px) {

} */